<div class="container mt-4">
  <h2>✏️ Editar Curso</h2>

  <form (ngSubmit)="actualizarCurso()">
    <!-- Nombre -->
    <div class="mb-3">
      <label class="form-label">Nombre</label>
      <input type="text" [(ngModel)]="curso.nombre" name="nombre" class="form-control" required />
    </div>

    <!-- Descripción -->
    <div class="mb-3">
      <label class="form-label">Descripción</label>
      <textarea [(ngModel)]="curso.descripcion" name="descripcion" class="form-control"></textarea>
    </div>

    <!-- Profesor -->
    <div class="mb-3">
      <label class="form-label">Profesor</label>
      <select [(ngModel)]="curso.profesorId" name="profesorId" class="form-select" required>
        <option *ngFor="let profesor of profesores" [value]="profesor.id">
          {{ profesor.nombre }}
        </option>
      </select>
    </div>

    <!-- Estudiantes (multi-select) -->
    <div class="mb-3">
      <label class="form-label">Estudiantes</label>
      <select multiple [(ngModel)]="curso.estudiantesIds" name="estudiantesIds" class="form-select">
        <option *ngFor="let estudiante of estudiantes" [value]="estudiante.id">
          {{ estudiante.nombre }}
        </option>
      </select>
    </div>


    <div class="mt-4 d-flex gap-2">
       <button class="btn btn-success" type="submit">Actualizar</button>
       <button routerLink="/cursos" class="btn btn-secondary">Cancelar</button>
    </div>
    
  </form>
</div>
