td, th {
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;

}
.bg-gradient-primary {
  background: linear-gradient(135deg, #0d6efd, #0a58ca);
}

.table td, .table th {
  vertical-align: middle;
}
