td, th {
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;

}
.card {
  border-radius: 14px;
}

.table th {
  font-weight: 600;
}

.badge {
  font-size: 13px;
  padding: 6px 10px;
}

.btn-sm {
  border-radius: 8px;
}
.bg-gradient-primary {
  background: linear-gradient(135deg, #0d6efd, #0a58ca);
}

.table td, .table th {
  vertical-align: middle;
}
